# 1. 忽略虚拟环境 (几万个文件，绝对不能传)
.venv/
venv/
env/

# 2. 忽略环境变量 (里面有密码，绝对不能传！)
.env

# 3. 忽略 Python 编译缓存 (垃圾文件)
__pycache__/
*.pyc

# 4. 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 5. 忽略 VS Code 配置 (可选，如果你不想共享你的编辑器设置)
.vscode/